@layer animations {
  @keyframes popover-fade-in {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes rotate-glow {
    100% {
      transform: rotate(1turn);
    }
  }

  .donate-rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    filter: blur(8px);
    background-image: var(--brand-gradient);
    animation: rotate-glow 4s linear infinite;
  }

  @supports (view-transition-name: root) {
    ::view-transition-old(root) {
      animation: none;
    }
    ::view-transition-new(root) {
      animation: circle-blur-expand 0.5s ease-out;
      transform-origin: bottom left;
      filter: blur(0);
    }
    @keyframes circle-blur-expand {
      from {
        clip-path: circle(0% at 0% 100%);
        filter: blur(4px);
      }
      to {
        clip-path: circle(150% at 0% 100%);
        filter: blur(0);
      }
    }
  }
}
