@layer animations {
  @keyframes popover-fade-in {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes rotate-glow {
    100% {
      transform: rotate(1turn);
    }
  }

  @supports (view-transition-name: root) {
    ::view-transition-old(root) {
      animation: none;
    }
    ::view-transition-new(root) {
      animation: circle-blur-expand 0.5s ease-out;
      transform-origin: bottom left;
      filter: blur(0);
    }
    @keyframes circle-blur-expand {
      from {
        clip-path: circle(0% at 0% 100%);
        filter: blur(4px);
      }
      to {
        clip-path: circle(150% at 0% 100%);
        filter: blur(0);
      }
    }
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
      animation: none !important;
    }
  }
}
