# Dependencies
/node_modules

# Testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Next.js
/.next/
/out/
.vercel/

# Production
/build

# OS
.DS_Store
*.pem

# Debug
pnpm-debug.log*

# env files
.env*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Cloudflare
.wrangler/
.open-next
