# Dependencies
/node_modules

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# OS
.DS_Store
*.pem

# Debug
npm-debug.log*

# env files
.env*
!.env.example

# TypeScript
*.tsbuildinfo

# IDE
.idea
