name = "forever-pto"
main = ".open-next/worker.js"
compatibility_date = "2025-03-25"
compatibility_flags = ["nodejs_compat"]
keep_names=false

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 0.002
invocation_logs = true
persist = true
[observability.traces]
enabled = true
persist = true
head_sampling_rate = 0.2

[[routes]]
pattern = "forever-pto.com/*"
zone_name = "forever-pto.com"

[placement]
mode = "smart"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "next-inc-cache"