name = "forever-pto"
main = ".open-next/worker.js"
compatibility_date = "2025-03-25"
compatibility_flags = ["nodejs_compat"]
keep_names=false
upload_source_maps = true

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[observability]
[observability.logs] 
enabled = true
head_sampling_rate = 0.20
invocation_logs = true
[observability.traces]
enabled = true
head_sampling_rate = 0.20
persist = true

[[routes]]
pattern = "forever-pto.com/*"
zone_name = "forever-pto.com"

[placement]
mode = "smart"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "next-inc-cache"