  .donate-rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    filter: blur(8px);
    background-image: var(--brand-gradient);
    animation: rotate-glow 4s linear infinite;
  }